# https://github.com/editorconfig/editorconfig/wiki/Projects-Using-EditorConfig

root = true

# Unix-style newlines with a newline ending every file
[*]
# Enforce Unix style line endings (\n only)
end_of_line = lf
# Always end files with a blank line
insert_final_newline = true
# Force space characters for indentation
indent_style = space
# Always indent by 4 characters
indent_size = 4
# Remove whitespace characters at the end of line
trim_trailing_whitespace = true
# Set default charset
charset = utf-8
# Following PEP8
max_line_length = 79
