requests
mysql
docopt
Click==7.0
Flask==1.0.2
itsdangerous==1.1.0
Jinja2==2.10.1
MarkupSafe==1.1.1
Werkzeug==0.15.4
cycler==0.10.0
kiwisolver==1.1.0
matplotlib==3.1.0
mysql-connector-python==8.0.16
numpy==1.16.4
pandas==0.24.2
protobuf==3.7.1
pyparsing==2.4.0
python-dateutil==2.8.0
pytz==2019.1
six==1.12.0
virtualenv==16.6.0
